*{
    margin: 0;
    padding: 0;
}
#body{
    background-color: #FCF9EB;
    margin: 0;
    padding: 0;
}
.sectionImage{
    padding: 15px 8px;
    background-color: #9cd4dd;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "n1 n2 n4 n5"
    "n1 n3 n4 n6";
    gap: 12px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 13px;
        border: 8px solid #fff;
    }
    #img1{
        grid-area: n1;
    }
    #img2{
        grid-area: n2;
    }
    #img3{
        grid-area: n3;
    }
    #img4{
        grid-area: n4;
    }
    #img5{
        grid-area: n5;
    }
    #img6{
        grid-area: n6;
    }
}
.carousel-inner{
    z-index: -10;
    width: 100%;
    height: 100%;
    .imgC{
        width: 90%;
        margin:  50px auto;
    }
}
#carouselExampleIndicators{
    width: 100%;
    height: 100%;
}
#optionCarrusel{
    width: 100%;
    height: 100px;
    background-color: #e5bad8;
    position: relative;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #9c76da;
    border-radius: 50%;
}