*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #8675a2;
}
main{
    position: absolute;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body,
main {
    transition: opacity 0.5s ease-in-out;
   
}

.video{
    align-items: center;
    margin-top: 20px;
}
.medio{
    text-align: center;
    width: 100%;
    margin-top: 8%;
}
.logoArriba,
.logoAbajo{
    text-align: center;
    margin-top: 100px;
}
.videoRepro {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    max-width: 880px;
    width: 100%;
    height: auto;
}
.transicionJS{
    opacity: 0;
}