footer{
    color: #fff;
    background-color: #77B1BA;
    .footer__texto{
        text-align: center;
        font-size: 17px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
}